#divForm {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  align-items: center;

}
#form {
  width: 350px;
  height: 350px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 5%;
  margin: auto;
  box-shadow: 10px 10px 5px #ccc;

  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
}
#peso,
#alt {
  margin-bottom: 16px;
  width: 80%;
  display: block;
}
#peso,
#alt {
  padding: 5px 20px;
}
#but {
  align-self: center;
  cursor: pointer;

  padding: 8px;
  border: none;
  border-radius: 8px;
  font-size: 20px;

  background-color: black;
  color: yellow;

  transition: transform .3s;
}
#but:hover {
  transform: scale(1.1);
}

#result {
  color: black;
  margin-top: 16px;
  font-size: 20px;
}
